
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 100;
    padding: 100;
    background-color: #e2b8cd;
}



header {
    background-image: url('../img/fondo\ si.jpeg'); 
    padding: 20px;
    text-align: center;
}

.title {
    color: rgb(234, 26, 133); 
    font-style: oblique;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
    margin: 0;
}


h2 {
    background-image: url(../img/fondo\ si.jpeg); 
    color: #0d0c0c;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
    border-radius: 5px; 
}


.carousel {
    position: relative;
    max-width: 10%;
    margin: 20px auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    overflow: hidden;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    flex: 40%;
    box-sizing: border-box;
    padding: 10px;
}

.logo-image {
    max-width: 40%;
    border-radius: 5px;
}


.prev, .next {
    background-color: #ff66b2; 
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}



.animated-button:hover {
    background-color: #ff3399;
}



.video-container {
    text-align: center;
    margin: 20px 0;
}


.footer {
    background-color: #ff66b2;
    color: white;
    padding: 20px;
    text-align: center;
}

.menu {
    list-style: none;
}

.menu li {
    display: inline;
    margin: 0 10px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}

.carousel {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.carousel-container {
    overflow: hidden;
    width: 100%;
}

.carousel-items {
    display: flex;
    transition: transform 0.5s ease;
}

.card {
    min-width: 300px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid #5b2f44;
    padding: 10px;
    background-color: #ab1560;
   
}


.logo-image {
    width: 100%;
    height: auto;
}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(126, 32, 93, 0.5);
    color: rgb(237, 189, 225);
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    font-size: 18px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.video-container {
    max-width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: auto;
}

video {
    width: 100%;
    height: auto;
}


.footer {
    background-image: url('../img/fondo\ si.jpeg');
    background-position: center
    padding 20px;
    margin-top: 20px;
}

.footer .menu {
    list-style: none;
    padding: 0;
}

.footer .menu li {
    display: inline;
    margin: 0 10px;

}

.footer .menu a {
    text-decoration: none;
    color: #4e84bd;
}

.footer .menu a:hover {
    text-decoration: underline;
}

.footer p {
    color: black; }